VITE_JANUS_SERVER_FRONT_URL=http://192.168.1.50:8088/janus
VITE_JANUS_SERVER_REAR_URL=http://192.168.1.51:8088/janus
VITE_STREAM_FRONT_ID=99
VITE_STREAM_REAR_ID=100
VITE_RECONNECT_BASE_MS=1000
VITE_RECONNECT_MAX_MS=10000
